html {
    width: 100%;
    font-size: 16px;
    position: relative;
}

body{
    width: 100%;
    position: relative;
    right: .425rem;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #555;
    background-color: #201f53;
    position: relative;
    bottom: .5rem;
    font-family: "Merriweather";
}

.logo {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    position: relative;
    top: .75rem;
    color: #f5f8e4;
    font-weight: bold;
    text-shadow: #777777 2px 5px 6px;
}

header .navigation {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
}

header .navlist {
    display: inline-flex;
    position: relative;
    bottom: 1rem;
    right: 2rem;
}

.navlist li {
    margin-right: 2.5rem;
    color: #f5f8e4;
    font-size: 1.25rem;
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #f5f8e4;
} 

a:visited {
    color: #f5f8e4;
}

a:hover {
    color: #555;
}


.about {
    position: relative;
    bottom: .60rem;
    display: flex;
}

.about .paragraph {
    display: flex;
    border: 1px solid #777777;
    border-radius: .5rem;
    width: 35%;
    height: 7.5rem;
    background-color: #fff;
    align-items: center;
    text-align: center;
    opacity: 0.65;
    margin: 0 auto;
}

.banner {
    background-image: url(/resources/images/banner-background.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 20.25rem;
    width: 100%;
    border-bottom: 1px solid #777777;
    position: relative;
}

.activities {
    width: 100%;
    height: auto;
    position: relative;
    top: 4rem;
    font-family: "Merriweather";
}

.grid{
    display: grid;
    grid-template-areas: 
        "basketball soccer soccer"
        "basketball soccer soccer"
        "basketball baseball lacrosse"
        "basketball baseball lacrosse";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 21.75rem;
    width: 50%;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.description {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #201f53;
    text-shadow: 3px 5px 4px #777;
    padding: 1.75rem 0;
}

.sport {
    max-width: 100%;
    border: 2px solid #777;
    border-radius: .5rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #f5f8e4;
    box-shadow: 4px 3px 6px  #000;
    text-shadow: #000 0 4px 3px ;
    transition: background-size 2s;
    flex-shrink: 2;
}

.sport:hover {
    background-size: 150%;
}


#basketball {
    grid-area: basketball;
    background-image: url(/resources/images/basketball.jpg);
}

#soccer {
    grid-area: soccer;
    background-image: url(/resources/images/soccer.jpg);
}

#baseball {
    grid-area: baseball;
    background-image: url(/resources/images/baseball.jpg);
}

#lacrosse {
    grid-area: lacrosse;
    background-image: url(/resources/images/lacrosse.jpg);
}

.join {
    width: 100%;
    background-color: #201f53;
    position: relative;
    top: 13rem;
    padding: 2rem 0;
    font-family: "Merriweather";
    font-size: 1.25rem;
}

.title {
    text-align: center;
    color: #f5f8e4;
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: space-evenly;
    color: #f5f8e4;
}

.contact {
    display: inline-flex;
    gap: .5rem;
    align-items: center;
}

#button {
    font-family: "Chivo";
    font-size: 1.25rem;
    width: 6.5rem;
    height: 2.5rem;
    background-color: #671199;
    border-radius: .25rem;
    box-shadow: inset -5px -2px 2px #440058, inset 3px 1px 1px #c029ee;
    color: #f5f8e4;
    font-weight: bold;
}

#button:active {
    background-color: #480b6b;
    box-shadow: inset -5px -2px 2px #9100bd, inset 3px 1px 1px #d03dfd;
    color: #555;
}

@media only screen and (max-width:800px) {
    header {
        height: 10rem;
        display: flex;
        flex-direction: column; 
    }

    .logo {
        display: flex;
        justify-content: space-evenly;
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }

    header .navigation {
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        margin-left: 3rem;
    }

    .navlist li {
        font-size: 1.1rem;
    }

    .banner {
        border-bottom: none;
        position: relative;
        bottom: .5rem;
    }

    .description {
        font-size: 1..5rem;
        position: relative;
        bottom: 2.5rem;
        padding: 0 2rem;
    }

    .grid {
        display: grid;
        grid-template-areas: 
            "basketball basketball basketball"
            "soccer soccer soccer"
            "baseball baseball baseball"
            "lacrosse lacrosse lacrosse";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 25% 25% 25% 25%;
        justify-content: center;
    }

    .join {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .info {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

}
